.item {
  width: 120px;
}

.item img {
  width: 100%;
  background-color: #f2f2f2;
  height: 180px;
}

.item h2,
.item h3 {
  font-size: 13px;
}

.item h2 {
  margin-top: 9px;
}
.bumpCard {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
